In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split

In [4]:
def times_to_delta_sec(row):
    return (row.purchase_time.seconds - row.signup_time.seconds).seconds

In [8]:
df = pd.read_csv("data/Fraud_Data.csv").head(5)[['user_id','purchase_value','source']]
df

   user_id  purchase_value source
0    22058              34    SEO
1   333320              16    Ads
2     1359              15    SEO
3   150084              44    SEO
4   221365              39    Ads

In [10]:
df_dict = df.to_dict(orient="records")
df_dict

[{'user_id': 22058, 'purchase_value': 34, 'source': 'SEO'},
 {'user_id': 333320, 'purchase_value': 16, 'source': 'Ads'},
 {'user_id': 1359, 'purchase_value': 15, 'source': 'SEO'},
 {'user_id': 150084, 'purchase_value': 44, 'source': 'SEO'},
 {'user_id': 221365, 'purchase_value': 39, 'source': 'Ads'}]

In [15]:
df_from = pd.DataFrame(df_dict)
df_from

   user_id  purchase_value source
0    22058              34    SEO
1   333320              16    Ads
2     1359              15    SEO
3   150084              44    SEO
4   221365              39    Ads

In [3]:
d_glob = pd.read_csv("data/Fraud_Data.csv")
X_glob = d_glob.drop(columns=['class'])
y_glob = d_glob['class']
X_train_glob, X_test_glob, y_train_glob, y_test_glob = train_test_split(X_glob, y_glob, test_size=0.2, random_state=15)

In [6]:
d_func = pd.read_csv("data/Fraud_Data.csv")
d_func['purchase_time']= pd.to_datetime(d_func["purchase_time"], format='%Y-%m-%d %H:%M:%S')
d_func['signup_time']= pd.to_datetime(d_func["signup_time"], format='%Y-%m-%d %H:%M:%S')


d_func['time_delta_sec'] = d_func.apply(times_to_delta_sec, axis=1)

X_train_glob['time_delta_sec'] = X_train_glob.apply(times_to_delta_sec, axis=1)


# d_func

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0
...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3.451155e+09,1
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35,LYSFABUCPCGBA,SEO,Safari,M,32,2.439047e+09,0
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40,MEQHCSJUBRBFE,SEO,IE,F,26,2.748471e+09,0
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3.601175e+09,0
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20,ZINIADFCLHYPG,Direct,IE,M,38,4.103825e+09,0

In [40]:
X_func = d_func.drop(columns=['class'])
y_func = d_func['class']
X_train_func, X_test_func, y_train_func, y_test_func = train_test_split(X_func, y_func, test_size=0.2, random_state=15)

In [45]:
X_train_glob.reset_index(drop=True).head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,time_delta_sec
0,160118,2015-06-10 14:19:24,2015-08-14 13:00:10,26,PYYUDGVFGHNDM,Ads,Chrome,M,32,1.809227e+09,81646
1,95701,2015-08-07 19:32:54,2015-10-29 05:07:38,32,DSBZSNIKDHAOK,Ads,IE,M,33,2.215967e+09,34484
2,303044,2015-05-14 10:50:27,2015-06-12 17:15:41,19,ODFPZPQDLGYKF,Ads,Chrome,M,37,1.822727e+09,23114
3,190936,2015-03-24 19:38:52,2015-05-31 01:49:54,24,XXVMEDKWTMQQZ,Direct,FireFox,M,27,2.214124e+09,22262
4,42868,2015-07-05 09:15:36,2015-10-12 00:40:25,61,YLTQGDUITCNJO,Ads,FireFox,F,24,5.345012e+08,55489

In [44]:
X_train_func.reset_index(drop=True, inplace=True)
X_test_func.reset_index(drop=True, inplace=True)
y_train_func.reset_index(drop=True, inplace=True)
y_test_func.reset_index(drop=True, inplace=True)

X_train_func.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,time_delta_sec
0,160118,2015-06-10 14:19:24,2015-08-14 13:00:10,26,PYYUDGVFGHNDM,Ads,Chrome,M,32,1.809227e+09,81646
1,95701,2015-08-07 19:32:54,2015-10-29 05:07:38,32,DSBZSNIKDHAOK,Ads,IE,M,33,2.215967e+09,34484
2,303044,2015-05-14 10:50:27,2015-06-12 17:15:41,19,ODFPZPQDLGYKF,Ads,Chrome,M,37,1.822727e+09,23114
3,190936,2015-03-24 19:38:52,2015-05-31 01:49:54,24,XXVMEDKWTMQQZ,Direct,FireFox,M,27,2.214124e+09,22262
4,42868,2015-07-05 09:15:36,2015-10-12 00:40:25,61,YLTQGDUITCNJO,Ads,FireFox,F,24,5.345012e+08,55489