In [25]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split

In [26]:
def times_to_delta_sec(row):
    purchase_sec = pd.to_datetime(row.purchase_time, format='%Y-%m-%d %H:%M:%S')
    signup_sec = pd.to_datetime(row.signup_time, format='%Y-%m-%d %H:%M:%S')
    
    return (purchase_sec - signup_sec).seconds

In [38]:
d_glob = pd.read_csv("data/Fraud_Data.csv")
X_glob = d_glob.drop(columns=['class'])
y_glob = d_glob['class']
X_train_glob, X_test_glob, y_train_glob, y_test_glob = train_test_split(X_glob, y_glob, test_size=0.2, random_state=15)

In [29]:
d_func = pd.read_csv("data/Fraud_Data.csv")
d_func['time_delta_sec'] = d_func.apply(times_to_delta_sec, axis=1)

X_train_glob['time_delta_sec'] = X_train_glob.apply(times_to_delta_sec, axis=1)

X_func = d_func.drop(columns=['class'])
y_func = d_func['class']
X_train_func, X_test_func, y_train_func, y_test_func = train_test_split(X_func, y_func, test_size=0.2, random_state=15)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address
31066,160118,2015-06-10 14:19:24,2015-08-14 13:00:10,26,PYYUDGVFGHNDM,Ads,Chrome,M,32,1.809227e+09
104389,95701,2015-08-07 19:32:54,2015-10-29 05:07:38,32,DSBZSNIKDHAOK,Ads,IE,M,33,2.215967e+09
84954,303044,2015-05-14 10:50:27,2015-06-12 17:15:41,19,ODFPZPQDLGYKF,Ads,Chrome,M,37,1.822727e+09
124835,190936,2015-03-24 19:38:52,2015-05-31 01:49:54,24,XXVMEDKWTMQQZ,Direct,FireFox,M,27,2.214124e+09
59757,42868,2015-07-05 09:15:36,2015-10-12 00:40:25,61,YLTQGDUITCNJO,Ads,FireFox,F,24,5.345012e+08

In [31]:
X_train2.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address
31066,160118,2015-06-10 14:19:24,2015-08-14 13:00:10,26,PYYUDGVFGHNDM,Ads,Chrome,M,32,1.809227e+09
104389,95701,2015-08-07 19:32:54,2015-10-29 05:07:38,32,DSBZSNIKDHAOK,Ads,IE,M,33,2.215967e+09
84954,303044,2015-05-14 10:50:27,2015-06-12 17:15:41,19,ODFPZPQDLGYKF,Ads,Chrome,M,37,1.822727e+09
124835,190936,2015-03-24 19:38:52,2015-05-31 01:49:54,24,XXVMEDKWTMQQZ,Direct,FireFox,M,27,2.214124e+09
59757,42868,2015-07-05 09:15:36,2015-10-12 00:40:25,61,YLTQGDUITCNJO,Ads,FireFox,F,24,5.345012e+08

In [32]:
d1['time_delta_sec'] = d1.apply(times_to_delta_sec, axis=1)
d2['time_delta_sec'] = d2.apply(times_to_delta_sec, axis=1)

X_train1['time_delta_sec'] = X_train1.apply(times_to_delta_sec, axis=1)
X_train2['time_delta_sec'] = X_train2.apply(times_to_delta_sec, axis=1)

In [36]:
X_train2.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,time_delta_sec
31066,160118,2015-06-10 14:19:24,2015-08-14 13:00:10,26,PYYUDGVFGHNDM,Ads,Chrome,M,32,1.809227e+09,81646
104389,95701,2015-08-07 19:32:54,2015-10-29 05:07:38,32,DSBZSNIKDHAOK,Ads,IE,M,33,2.215967e+09,34484
84954,303044,2015-05-14 10:50:27,2015-06-12 17:15:41,19,ODFPZPQDLGYKF,Ads,Chrome,M,37,1.822727e+09,23114
124835,190936,2015-03-24 19:38:52,2015-05-31 01:49:54,24,XXVMEDKWTMQQZ,Direct,FireFox,M,27,2.214124e+09,22262
59757,42868,2015-07-05 09:15:36,2015-10-12 00:40:25,61,YLTQGDUITCNJO,Ads,FireFox,F,24,5.345012e+08,55489